body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  background-color: rgb(13, 13, 13);
}
.container {
  display: flex;
}
.container:nth-child(1) {
  width: 15vw;
  height: 100vh;
}

.seconddiv {
  padding-top: 10px;
  padding-left: 135px;
  width: 85vw;
}

/* Nav Bar CSS */
.navbar {
  position: fixed;
  background-image: linear-gradient(to right, rgb(15, 15, 15), rgb(21, 21, 21) ) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  height: 100vh;
}
.nav-img {
  display: flex;
  flex-direction: column;
  height: 15vh;
}
.nav-img button {
  height: 30px;
  width: 100px;
  color: gold;
  background-color: rgb(70, 59, 0);
  border: none;
  border-radius: 15px;
}
.nav-img img {
  height: 80px;
  width: 100px;
}

.icons {
  height: 85vh;
  margin-top: 10px;
  padding-top: 60px;
  list-style: none;
}
.icons:hover {
  height: 85vh;
  margin-top: 10px;
  padding-top: 60px;
}

.pointer {
  padding-top: 15px;
  padding-bottom: 15px;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Advertisement */

.ad {
  display: flex;
  background-color: rgb(18, 18, 18);
  height: 50vh;
  width: 87vw;
  padding-top: 10px;
  border-radius: 10px;
}
.ad-img {
  height: 50vh;
  width: 50vw;
}
.ad-img img {
  height: 50vh;
  width: 50vw;
}
.ad-content {
  padding-left: 30px;
}

.ad-content-top img {
  padding: 0px;
  height: 60px;
  width: 250px;
}
.ad-content-top p {
  color: aliceblue;
  margin: 0;
  padding-top: 30px;
  font-size: 20px;
}

.ad-content-bottom {
  padding-top: 70px;
}
.ad-content-bottom button {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: rgb(55, 55, 55);
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: 600;
}

/* Movie Poster */

.poster {
  background-image: url("../images/poster-bg.jpg");
  background-size: cover;
  height: 110vh;
  width: 87vw;
  margin-top: 10px;
}

.poster img {
  padding-left: 40px;
  padding-top: 40px;
  height: 250px;
  width: 200px;
}

.poster-list {
  display: flex;
}
.poster-detail {
  /* padding-top: 10px; */
  padding-right: 20px;
  color: aliceblue;
}

.poster p {
  /* padding-top: 5px; */
  padding-left: 20px;
  padding-bottom: 30px;
  color: aliceblue;
  width: 350px;
  font-size: 12px;
  letter-spacing: 2px;
}

.poster button:nth-child(5) {
  width: 400px;
  height: 40px;
  margin-left: 40px;
  background-color: rgb(55, 55, 55);
  border: none;
  border-radius: 10px;
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: 700;
}

.poster button:nth-child(6) {
  width: 40px;
  height: 40px;
  background-color: rgb(55, 55, 55);
  border: none;
  border-radius: 10px;
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: 700;
}

/* Latest movies */

.latest {
  height: 55vh;
  width: 87vw;
  display: flex;
  flex-direction: column;
}
.latest-first {
  display: flex;
  justify-content: space-between;
}
.latest-first p {
  padding-left: 30px;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
}

.movies {
  display: flex;
}

.movie-card {
  height: 250px;
  width: 200px;
  background-color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.latest img{
    height: 250px;
    width: 200px;
}

/* Sports Section  */
.sports {
  height: 55vh;
  width: 87vw;
  display: flex;
  flex-direction: column;
}
.sports-first {
  display: flex;
  justify-content: space-between;
}
.sports-first p {
  padding-left: 30px;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
}

.sports-list {
  display: flex;
}

.sports-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 250px;
  background-color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.sports-card p {
  color: white;
  background-color: rgb(13, 13, 13);
  margin-top: 0px;
  padding: 20px;
}

/* coming soon movies  */
.comingsoon {
  height: 55vh;
  width: 87vw;
  display: flex;
  flex-direction: column;
}
.comingsoon-first {
  display: flex;
  justify-content: space-between;
}
.comingsoon-first p {
  padding-left: 30px;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
}

.coming-movies {
  display: flex;
}

.comingsoon-card {
  height: 250px;
  width: 250px;
  background-color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

/* Footer Main  */

.footer-main {
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: space-between;
  width: 85vw;
  height: 20vh;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-content-header {
  font-weight: 700;
  font-size: 12px;
  color: aliceblue;
}
.footer-content-text {
  color: grey;
  font-family: 12px;
}
.footer-img img {
  height: 40px;
  width: 40px;
}

/* Footer second page  */

.footer-end {
  display: flex;
  justify-content: space-between;
}
.footer-end-list {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  color: aliceblue;
}
.footer-end-first p {
  padding-left: 20px;
  font-size: 12px;
  color: aliceblue;
}
.footer-end-list li {
  padding-left: 10px;
  list-style: none;
  font-size: 12px;
}
.footer-download {
  display: flex;
}
.footer-download img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  width: 130px;
}

.comingsoon-card img {
  height: 250px;
  width: 200px;
}

